/* CSS Resst */

* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* CSS Variables (recommended)*/

:root {
    --navbaar-height: 60px;
}


/* navbar */

#navbar {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0px;
    /* justify-content: center; */
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}


/* logo and image */

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 48px;
    margin: 3px 6px;
}


/* list styling */

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    /* While em is relative to the font-size of its direct or nearest parent, rem(recommended) is only relative to the html (root) font-size */
}

#navbar ul li a {
    color: whitesmoke;
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.1s;
}

#navbar ul li a:hover {
    color: black;
    background-color: whitesmoke;
}


/* home section */

#home {
    display: flex;
    flex-direction: column;
    padding: 12px 200px;
    height: 800px;
    align-items: center;
    justify-content: center;
}

#home::before {
    content: "";
    background: url(../bg1.jpg) no-repeat center center/cover;
    /* ek folder bahar aane k lie double dot then slash image */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    text-align: center;
    color: white;
}

#home p {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}


/* services section */

#services {
    margin: 70px;
    display: flex;
}

#services .box {
    border: 2px solid red;
    padding: 24px 40px;
    margin: 30px 4px;
    border-radius: 15px;
    background-color: #f2f2f2;
}

#services .box img {
    height: 170px;
    margin: auto;
    display: block;
    /*margin: auto se element center ho jata h. lekin iske sath height ya width set honi chahie or us element ki display:block; honi chaie.*/
}

#services .box p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* clients section */

#client-section {
    height: auto;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url(../bg.jpg);
    width: 100%;
    height: 52%;
    z-index: -1;
    opacity: 0.2;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
}

.client-item {
    padding: 39px 45px;
    margin: 66px 40px;
}

#clients .client-item img {
    height: 125px;
}


/* Contact section */

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../contact.jpg) no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.4rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    color: white;
    background-color: black;
    padding: 9px 20px;
}


/* utility classes (making utility classes to use at multiple positions is recommended.)*/

.h-primary {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.8rem;
    padding: 12px;
}

.btn {
    font-size: 1.5rem;
    padding: 6px 20px;
    border: 2px solid white;
    background-color: cadetblue;
    color: white;
    margin: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}